<div class="error_messages_wrapper">
    {% block flash_message %}
        {#{% for type in ['info', 'success', 'error', 'warning'] %}#}
            {#{% for message in app.session.flashBag.get(type) %}#}
                {#{% set type = (type == 'error') ? 'danger' : type %}#}
                {#<div class="alert alert-{{ type }}" role="alert">#}
                    {#<button type="button" class="close" data-dismiss="alert">×</button>#}
                    {#{{ message }}#}
                {#</div>#}
            {#{% endfor %}#}
        {#{% endfor %}#}
        {#{% for message in app.session.flashBag.all %}#}
            {#{% set type = (type == 'error') ? 'danger' : type %}#}
            {#<div class="alert alert-{{ type }}" role="alert">#}
                {#<button type="button" class="close" data-dismiss="alert">×</button>#}
                {#{{ message }}#}
            {#</div>#}
        {#{% endfor %}#}
        {#{% for type in ['info', 'success', 'error', 'warning'] %}#}
        {#{% endfor %}#}
        {% for type, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                {% set type = (type == 'error') ? 'danger' : type %}
                <div class="alert alert-{{ type }}" role="alert">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
</div>
